.submit-button {
    width: 100%;
    margin-top: 10px
}

.submit-box {
    margin-top: 10px
}

#header {
    position: fixed;
    width: 100%;
    margin-top: -1em;
    z-index: 999;
    text-align: center;
    color: white;
    background-color: aquamarine;
}