.submit-button {
    width: 100%;
    margin-top: 10px
}

.submit-box {
    margin-top: 10px
}

.container {
    margin-top: 1em;
}

#header {
    position: fixed;
    width: 100%;
    margin-top: -1em;
    z-index: 999;
    background-color: aquamarine;
}